.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #421c1c;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: #c42303;
    color: #ddd;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-profile-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-profile-button:hover {
    background-color: #ff0000;
    color: #ddd;
}
